.header {
    border: 1px solid var(--color-bg-box);
    &__content {
        padding-top: 40px;
        padding-bottom: 16px;
    }
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__logo {
        svg {
            width: 118px;
            height: 24px;
        }
    }
    &__links {
        list-style-type: none;
        display: flex;
        margin: 0;
        li {
            margin-right: 48px;
            a {
                color: var(--primary);
            }
        }
    }
    &__widget {
        display: flex; 
        justify-content: space-between;
        align-items: center;
        a {
            width: 32px;
            height: 32px;
            svg {
                display:inline-block;
                width: 100%;
                height: 100%;;
            }
            margin-left: 20px;
        }      

    }
    &__search {
        // padding: 10px;
        background-color:var(--color-bg-box);
         border: none;
         max-width: 243px;
         height: 38px;
         padding: 5px 10px 5px 19px;
         border-radius: 2px;
         transition: .2s;
         font-size: 1rem;

      input[type="search"] {
        border: none;
        vertical-align: calc(100%/2);
        background-color: var(--color-bg-box);
        &:focus {
            outline: none;
        }
        &::-webkit-search-cancel-button {
            appearance: none ;
            -webkit-appearance: none;
        }
      }
      svg {
        display: inline-block;
        height: 100%;     
        &:hover {
            cursor: pointer;
        } 
        }
    }
    
    
}