.top-header {
    background-color: $primary;

    &__content {
        color: $secondary;
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        justify-content: center;
        align-items: center;
        min-height: 3rem;
        font-size: 0.875rem;
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
       span {
        grid-column: 2/3;
        justify-self: center;

        a {
            color: $secondary;
            text-decoration: underline;
            margin-left: 8px;
            font-weight: 600;
        }
       }
       
    }
    &__formWrapper {
        grid-column: 3/4;
        justify-self: flex-end;
        display: flex;
        align-items: center;
    }
    // dark and light mode
    &__switch { //label
        display: inline-block;
        width: 48px;
        height: 24px;
        position: relative;
        input[type="checkbox"] {
            opacity: 0;
            height: 0;
            width: 0;

            &:checked + .slider {
                background-color: #1e38ff;            
            }
            &:checked + .slider::before {
                transform: translateX(23px);
            }
        }
        .slider { //span
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            background-color: lightblue;
            border-radius: 34px;
            transition: 0.6s;
            cursor: pointer;
            transition: background-color 200ms ease-in-out;


            &__icon { //svg
                transform: rotate(250deg);
                position: absolute;
                right: 2px;
                top: 2px;
                width: 20px;
                height: 20px;
            }
            &::before {
                content: "";
                position: absolute;
                left: 3px;
                bottom: 2px;
                width: 20px;
                height: 20px;
                background-color: white;
                border-radius: 50%;
                transition: transform 200ms ease-in-out;
            }
            
        }
    }

    // select page language
    &__formSelect {
        
        max-width: 78px;
        position: relative;
        margin-left: 10px;
        select {
            appearance: none;
            -webkit-appearance: none;
            border-radius: 0.25rem;
            background-color: $primary;
            padding: 3px 22px 3px 3px;
            color: $secondary;
            border: 0;
            cursor: pointer;
            width: 100%;
        }
        &::after {
            content: "";
            position: absolute;
            right: 0;
            width: 22px;
            height: 22px;
            pointer-events: none;
            -webkit-mask: url(../../images/icons/header=DropDown.svg) no-repeat center;
            mask: url(../../images/icons/header=DropDown.svg) no-repeat center;
            background-color: white;
        }
    }
}